@bg-color: #1d365d;
@title-bg-color: darken(#444, 15%);

.size-properties() {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.items-centralize() {
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}