<div class="calculation">
	<div class="pairs-container">
	</div>

	<div class="results-control">
		<button class="page-btn back-to-list" title="К списку валют">Назад</button>
		<button class="page-btn" disabled>Сохранить результаты</button>
	</div>
</div>