<div class="currency-list">
	<p class="tutorial">
		Ниже представлен список доступных валют. Для конвертирования выберите одну валюту из столбца слева, которую Вы
		хотите перевести в другие, и одну или несколько валют из столбца справа, в которые Вы хотите перевести
		исходную валюту, после чего нажмите кнопку &laquo;Расчет&raquo;. Для сброса параметров нажмите кнопку
		&laquo;Сброс&raquo;. <span class="warning">Данные о курсах валют обновляются каждые 12 часов, представленная приложением
		информация может не совпадать с данными Вашего банка.</span>
	</p>

	<div class="currency-table">
		<div class="original-currencies">
			<button class="original currency-btn" data-currency="usd" title="Доллар США">USD</button>
			<button class="original currency-btn" data-currency="eur" title="Евро">EUR</button>
			<button class="original currency-btn" data-currency="rub" title="Российский рубль">RUB</button>
			<button class="original currency-btn" data-currency="aud" title="Австралийский доллар">AUD</button>
			<button class="original currency-btn" data-currency="bgn" title="Болгарский лев">BGN</button>
			<button class="original currency-btn" data-currency="cad" title="Канадский доллар">CAD</button>
			<button class="original currency-btn" data-currency="sgd" title="Сингапурский доллар">SGD</button>
			<button class="original currency-btn" data-currency="gbp" title="Фунт стерлингов">GBP</button>
			<button class="original currency-btn" data-currency="chf" title="Швейцарский франк">CHF</button>
			<button class="original currency-btn" data-currency="dkk" title="Датская крона">DKK</button>
			<button class="original currency-btn" data-currency="pln" title="Польский злотый">PLN</button>
			<button class="original currency-btn" data-currency="cny" title="Китайский юань">CNY</button>
			<button class="original currency-btn" data-currency="nok" title="Норвежская крона">NOK</button>
			<button class="original currency-btn" data-currency="try" title="Турецкая лира">TRY</button>
			<button class="original currency-btn" data-currency="sek" title="Шведская крона">SEK</button>
			<button class="original currency-btn" data-currency="uah" title="Украинская гривна">UAH</button>
			<button class="original currency-btn" data-currency="jpy" title="Японская иена">JPY</button>
			<button class="original currency-btn" data-currency="kzt" title="Казахстанский тенге">KZT</button>
			<button class="original currency-btn" data-currency="byn" title="Белорусский рубль">BYN</button>
		</div>

		<div class="target-currencies">
			<button class="target currency-btn" data-currency="usd" title="Доллар США">USD</button>
			<button class="target currency-btn" data-currency="eur" title="Евро">EUR</button>
			<button class="target currency-btn" data-currency="rub" title="Российский рубль">RUB</button>
			<button class="target currency-btn" data-currency="aud" title="Австралийский доллар">AUD</button>
			<button class="target currency-btn" data-currency="bgn" title="Болгарский лев">BGN</button>
			<button class="target currency-btn" data-currency="cad" title="Канадский доллар">CAD</button>
			<button class="target currency-btn" data-currency="sgd" title="Сингапурский доллар">SGD</button>
			<button class="target currency-btn" data-currency="gbp" title="Фунт стерлингов">GBP</button>
			<button class="target currency-btn" data-currency="chf" title="Швейцарский франк">CHF</button>
			<button class="target currency-btn" data-currency="dkk" title="Датская крона">DKK</button>
			<button class="target currency-btn" data-currency="pln" title="Польский злотый">PLN</button>
			<button class="target currency-btn" data-currency="cny" title="Китайский юань">CNY</button>
			<button class="target currency-btn" data-currency="nok" title="Норвежская крона">NOK</button>
			<button class="target currency-btn" data-currency="try" title="Турецкая лира">TRY</button>
			<button class="target currency-btn" data-currency="sek" title="Шведская крона">SEK</button>
			<button class="target currency-btn" data-currency="uah" title="Украинская гривна">UAH</button>
			<button class="target currency-btn" data-currency="jpy" title="Японская иена">JPY</button>
			<button class="target currency-btn" data-currency="kzt" title="Казахстанский тенге">KZT</button>
			<button class="target currency-btn" data-currency="byn" title="Белорусский рубль">BYN</button>
		</div>
	</div>

	<div class="control-btns">
		<button class="page-btn calculate-btn" title="Рассчитать">Расчет</button>
		<button class="page-btn reset-selection-btn" title="Сбросить">Сброс</button>
	</div>
</div>