<div class="header">
	<div class="header-info">
		<div class="logo-container">
			<img src="img/coin-logo.png" alt="Logo">
			<span class="app-name">COINCOUNTER</span>
		</div>

		<div class="login-form">
			<form action="#">
				<div class="username">
					<input type="text" placeholder="Имя пользователя..." class="input-username">
				</div>

				<div class="password">
					<input type="text" placeholder="Пароль..." class="input-password">
				</div>

				<div class="control-buttons">
					<button type="submit" class="login-btn">
						Вход
					</button>

					<br>

					<button type="submit" class="login-btn">
						Регистрация
					</button>
				</div>
			</form>
		</div>
	</div>

	<div class="time-bar">
		<div class="time-cell">
			<span class="clock">00:00:00</span>
			<select class="city-select">
				<option value="America/New_York">Вашингтон</option>
				<option value="Europe/Berlin">Берлин</option>
				<option value="Europe/Paris">Париж</option>
				<option value="Europe/Kaliningrad">Москва</option>
				<option value="Australia/Sydney">Канберра</option>
				<option value="Europe/Sofia">София</option>
				<option value="America/Toronto">Оттава</option>
				<option value="Asia/Singapore">Сингапур</option>
				<option value="Europe/London">Лондон</option>
				<option value="Europe/Zurich">Берн</option>
				<option value="Europe/Copenhagen">Копенгаген</option>
				<option value="Europe/Warsaw">Варшава</option>
				<option value="Asia/Shanghai">Пекин</option>
				<option value="Europe/Oslo">Осло</option>
				<option value="Europe/Istanbul">Анкара</option>
				<option value="Europe/Stockholm">Стокгольм</option>
				<option value="Europe/Kiev">Киев</option>
				<option value="Asia/Tokyo">Токио</option>
				<option value="Asia/Almaty">Нур-Султан</option>
				<option value="Europe/Kaliningrad" selected>Минск</option>
			</select>
		</div>

		<div class="time-cell">
			<span class="clock">00:00:00</span>
			<select class="city-select">
				<option value="America/New_York">Вашингтон</option>
				<option value="Europe/Berlin">Берлин</option>
				<option value="Europe/Paris">Париж</option>
				<option value="Europe/Kaliningrad" selected>Москва</option>
				<option value="Australia/Sydney">Канберра</option>
				<option value="Europe/Sofia">София</option>
				<option value="America/Toronto">Оттава</option>
				<option value="Asia/Singapore">Сингапур</option>
				<option value="Europe/London">Лондон</option>
				<option value="Europe/Zurich">Берн</option>
				<option value="Europe/Copenhagen">Копенгаген</option>
				<option value="Europe/Warsaw">Варшава</option>
				<option value="Asia/Shanghai">Пекин</option>
				<option value="Europe/Oslo">Осло</option>
				<option value="Europe/Istanbul">Анкара</option>
				<option value="Europe/Stockholm">Стокгольм</option>
				<option value="Europe/Kiev">Киев</option>
				<option value="Asia/Tokyo">Токио</option>
				<option value="Asia/Almaty">Нур-Султан</option>
				<option value="Europe/Kaliningrad">Минск</option>
			</select>
		</div>

		<div class="time-cell">
			<span class="clock">00:00:00</span>
			<select class="city-select">
				<option value="America/New_York" selected>Вашингтон</option>
				<option value="Europe/Berlin">Берлин</option>
				<option value="Europe/Paris">Париж</option>
				<option value="Europe/Kaliningrad">Москва</option>
				<option value="Australia/Sydney">Канберра</option>
				<option value="Europe/Sofia">София</option>
				<option value="America/Toronto">Оттава</option>
				<option value="Asia/Singapore">Сингапур</option>
				<option value="Europe/London">Лондон</option>
				<option value="Europe/Zurich">Берн</option>
				<option value="Europe/Copenhagen">Копенгаген</option>
				<option value="Europe/Warsaw">Варшава</option>
				<option value="Asia/Shanghai">Пекин</option>
				<option value="Europe/Oslo">Осло</option>
				<option value="Europe/Istanbul">Анкара</option>
				<option value="Europe/Stockholm">Стокгольм</option>
				<option value="Europe/Kiev">Киев</option>
				<option value="Asia/Tokyo">Токио</option>
				<option value="Asia/Almaty">Нур-Султан</option>
				<option value="Europe/Kaliningrad">Минск</option>
			</select>
		</div>

		<div class="time-cell">
			<span class="clock">00:00:00</span>
			<select class="city-select">
				<option value="America/New_York">Вашингтон</option>
				<option value="Europe/Berlin" selected>Берлин</option>
				<option value="Europe/Paris">Париж</option>
				<option value="Europe/Kaliningrad">Москва</option>
				<option value="Australia/Sydney">Канберра</option>
				<option value="Europe/Sofia">София</option>
				<option value="America/Toronto">Оттава</option>
				<option value="Asia/Singapore">Сингапур</option>
				<option value="Europe/London">Лондон</option>
				<option value="Europe/Zurich">Берн</option>
				<option value="Europe/Copenhagen">Копенгаген</option>
				<option value="Europe/Warsaw">Варшава</option>
				<option value="Asia/Shanghai">Пекин</option>
				<option value="Europe/Oslo">Осло</option>
				<option value="Europe/Istanbul">Анкара</option>
				<option value="Europe/Stockholm">Стокгольм</option>
				<option value="Europe/Kiev">Киев</option>
				<option value="Asia/Tokyo">Токио</option>
				<option value="Asia/Almaty">Нур-Султан</option>
				<option value="Europe/Kaliningrad">Минск</option>
			</select>
		</div>
	</div>
</div>
