<div class="about-page">
	<p class="intro">
		Добро пожаловать в приложение CoinCounter - конвертер валют, который
		позволит Вам делать расчеты наиболее популярных валют по общемировым курсам.
		Для начала работы нажмите кнопку &laquo;Старт&raquo;.
	</p>

	<div>
		<a class="start-btn page-btn" title="Нажмите для начала работы" href="#/currencyList">СТАРТ</a>
	</div>
</div>